<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download - Pantry Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="{{ url_for('static', filename='js/download.js') }}" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Pantry Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/download">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-4 mb-4">Download</h1>
        <ul class="nav nav-tabs mb-3" id="download-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="aggregated-tab" data-bs-toggle="tab" data-bs-target="#aggregated" type="button" role="tab" aria-controls="aggregated" aria-selected="true">Aggregated results</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rnaphenos-tab" data-bs-toggle="tab" data-bs-target="#rnaphenos" type="button" role="tab" aria-controls="rnaphenos" aria-selected="false">RNA phenotypes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="covariates-tab" data-bs-toggle="tab" data-bs-target="#covariates" type="button" role="tab" aria-controls="covariates" aria-selected="false">Covariates</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="qtls-tab" data-bs-toggle="tab" data-bs-target="#qtls" type="button" role="tab" aria-controls="qtls" aria-selected="false">cis-xQTLs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="twasmodels-tab" data-bs-toggle="tab" data-bs-target="#twasmodels" type="button" role="tab" aria-controls="twasmodels" aria-selected="false">xTWAS models</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="twasassoc-tab" data-bs-toggle="tab" data-bs-target="#twasassoc" type="button" role="tab" aria-controls="twasassoc" aria-selected="false">xTWAS associations</button>
            </li>
        </ul>
        
        <div class="tab-content" id="download-tabs-content">
            <div class="tab-pane fade show active" id="aggregated" role="tabpanel" aria-labelledby="aggregated-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Description</th>
                            <th class="text-end" style="min-width: 100px">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/data/processed/genes_pcg_lncrna.txt">genes_pcg_lncrna.txt</a></td>
                            <td>Ensembl gene IDs for the subset of genes that are protein-coding or lncRNA. We include all genes in the Ensembl annotations in phenotyping and genetic analyses, and filter to this set of genes for the aggregated results below.</td>
                            <td class="text-end">0.6 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/geuvadis.sep.assoc.tsv.gz">geuvadis.sep.assoc.tsv.gz</a></td>
                            <td>Concatenation of the top associations per gene (<code>*.cis_qtl.txt.gz</code>) for the six modalities for Geuvadis, with a subset of the original columns.</td>
                            <td class="text-end">2.3 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/geuvadis.sep.qtls.tsv.gz">geuvadis.sep.qtls.tsv.gz</a></td>
                            <td>Concatenation of the conditionally independent cis-QTLs (<code>*.cis_independent_qtl.txt.gz</code>) for the six modalities for Geuvadis, with a subset of the original columns.</td>
                            <td class="text-end">1.0 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/geuvadis.comb.qtls.tsv.gz">geuvadis.comb.qtls.tsv.gz</a></td>
                            <td>The <code>GEUVADIS.combined.cis_independent_qtl.txt.gz</code> file processed to match the format of <code>geuvadis.sep.qtls.tsv.gz</code>, for easier comparison of cis-QTLs from separate vs. combined-modality mapping.</td>
                            <td class="text-end">0.5 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/geuvadis.hsq.tsv.gz">geuvadis.hsq.tsv.gz</a></td>
                            <td>Concatenation and processing of the <code>*.twas_weights.profile</code> TWAS transcriptomic model summary tables for all modalities for Geuvadis.</td>
                            <td class="text-end">1.1 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/geuvadis.twas.tsv.gz" download>geuvadis.twas.tsv.gz</a></td>
                            <td>Concatenation and processing of all TWAS associations (even if not significant) for all modalities and traits for Geuvadis.</td>
                            <td class="text-end">73 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/gtex.sep.assoc.tsv.gz" download>gtex.sep.assoc.tsv.gz</a></td>
                            <td>Concatenation of the top associations per gene (<code>*.cis_qtl.txt.gz</code>) for the six modalities for all GTEx tissues, with a subset of the original columns.</td>
                            <td class="text-end">133 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/gtex.sep.qtls.tsv.gz" download>gtex.sep.qtls.tsv.gz</a></td>
                            <td>Concatenation of the conditionally independent cis-QTLs (<code>*.cis_independent_qtl.txt.gz</code>) for the six modalities for all GTEx tissues, with a subset of the original columns.</td>
                            <td class="text-end">33 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/gtex.comb.qtls.tsv.gz" download>gtex.comb.qtls.tsv.gz</a></td>
                            <td>Concatenation of the <code>{tissue}.combined.cis_independent_qtl.txt.gz</code> files for all GTEx tissues processed to match the format of <code>gtex.sep.qtls.tsv.gz</code>, for easier comparison of cis-QTLs from separate vs. combined-modality mapping.</td>
                            <td class="text-end">19 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/gtex.hsq.tsv.gz" download>gtex.hsq.tsv.gz</a></td>
                            <td>Concatenation and processing of the <code>*.twas_weights.profile</code> TWAS transcriptomic model summary tables for the six modalities for all GTEx tissues.</td>
                            <td class="text-end">49 MB</td>
                        </tr>
                        <tr>
                            <td><a href="/data/processed/gtex.twas_hits.tsv.gz" download>gtex.twas_hits.tsv.gz</a></td>
                            <td>Concatenation and processing of all TWAS hits for all modalities and traits for all GTEx tissues. Unlike <code>geuvadis.twas.tsv.gz</code>, this is filtered to hits passing a genome-wide P-value threshold, adjusted for number of RNA modalities, of 8.33e-9 (5e-8 / 6), to reduce file size.</td>
                            <td class="text-end">13 MB</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="rnaphenos" role="tabpanel" aria-labelledby="rnaphenos-tab">
                <p>RNA phenotypes were quantified for Geuvadis and all 54 GTEx tissues, including the five tissues excluded from downstream genetic analyses due to small sample size. The tables are in BED format, with the first three columns specifying the TSS coordinate of each phenotype's gene, i.e., the input format for <code>tensorQTL</code>. These are the raw phenotypes, i.e. the actual ratios or quantities. Processed tables were prepared for QTL mapping and xTWAS, but are not included here. They are the result of quantile-normalizing samples to the average empirical distribution, followed by rank-based inverse-normal transformation per phenotype. For GTEx tissues, we included only samples with genotypes, converted sample IDs to individual IDs to match the genotypes, and omitted the five tissues originally excluded from the GTEx QTL mapping.</p>

                <div class="mb-3">
                    <label for="rnaphenos-tissue-select" class="form-label">Select Tissue:</label>
                    <select class="form-select" id="rnaphenos-tissue-select">
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Modality</th>
                        </tr>
                    </thead>
                    <tbody id="rnaphenos-table-body"></tbody>
                </table>
                
            </div>

            <div class="tab-pane fade" id="covariates" role="tabpanel" aria-labelledby="covariates-tab">
                <p>For each tissue-modality RNA phenotype table, the covariates include the first 20 principal components (PCs) of the phenotype table and the first 5 PCs of the genotype alternative allele count matrix. We include two formats for each covariate table, one compatible with tensorQTL (<code>*.covar.tsv</code>), and one in PLINK format for compatibility with FUSION (<code>*.covar.plink.tsv</code>).</p>
                <p>We include covariates and cis-QTL results for a pseudo-modality called <code>combined</code>, which is a concatenation of phenotypes from all six modalities. Covariates for these are computed from the <code>combined</code> phenotype table, and are not concatenations of each modality's covariates. We used them for cross-modality mapping of cis-QTLs, but not for xTWAS.</p>

                <div class="mb-3">
                    <label for="covariates-tissue-select" class="form-label">Select Tissue:</label>
                    <select class="form-select" id="covariates-tissue-select">
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Modality</th>
                            <th>Format</th>
                        </tr>
                    </thead>
                    <tbody id="covariates-table-body"></tbody>
                </table>
                
            </div>

            <div class="tab-pane fade" id="qtls" role="tabpanel" aria-labelledby="qtls-tab">
                <p>Output files from tensorQTL run in <code>cis</code> mode (<code>*.cis_qtl.txt.gz</code>, top association per gene, even if not significant) and <code>cis_independent</code> mode (<code>*.cis_independent_qtl.txt.gz</code>, all conditionally-independent cis-QTLs). Files for the pseudo-modality <code>combined</code> are the result of running tensorQTL on combined-modality phenotype tables and group files, so that cis-QTLs are conditionally independent across modalities per gene (cross-modality mapping).</p>

                <div class="mb-3">
                    <label for="qtls-tissue-select" class="form-label">Select Tissue:</label>
                    <select class="form-select" id="qtls-tissue-select">
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Modality</th>
                        </tr>
                    </thead>
                    <tbody id="qtls-table-body"></tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="twasmodels" role="tabpanel" aria-labelledby="twasmodels-tab">
                <p>A set of TWAS transcriptomic models was generated for each tissue-modality pair using FUSION. The weights and summary files are provided in compressed archives, and the outputs of the FUSION script <code>FUSION.profile_wgt.R</code>, i.e. tables giving cis-heritability and model stats per phenotype, are also included separately (<code>*.twas_weights.profile</code>).</p>

                <div class="mb-3">
                    <label for="twasmodels-tissue-select" class="form-label">Select Tissue:</label>
                    <select class="form-select" id="twasmodels-tissue-select">
                        <!-- Options will be populated by JavaScript -->
                    </select>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Modality</th>
                        </tr>
                    </thead>
                    <tbody id="twasmodels-table-body"></tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="twasassoc" role="tabpanel" aria-labelledby="twasassoc-tab">
                <p>TWAS associations were calculated for each set of models against summary stats for each of <a href="https://zenodo.org/records/3629742#.XjCh9OF7m90">114 GWAS traits previously harmonized to GTEx v8 variant reference</a>. Outputs of <code>FUSION.assoc_test.R</code> were concatenated across chromosomes to get one table per trait-tissue-modality combination. Tables are provided in compressed archives per trait</p>

                <div id="twasassoc-table" style="height: 600px; width: 100%;" class="ag-theme-alpine"></div>
            </div>
        </div>
    </div>
</body>
</html>
