{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}

    <div class="container">
      <div class="text-center mt-4 mb-4">
        <img
          src="{{ url_for('static', filename='img/Pantry_logo.png') }}"
          alt="Pantry Portal"
          class="logo-hero"
        />
      </div>

      <p class="limited-text">
        This portal contains the results of multimodal RNA phenotyping and
        genetic analyses for 50 human tissue datasets using Pantry. It includes
        RNA phenotypes, covariates, cis-xQTL results from tensorQTL, and weights
        and associations for multimodal transcriptome-wide association study
        (xTWAS) results using FUSION, for six RNA modalities, for Geuvadis and
        49 GTEx tissues. It also includes data for residual data-driven RNA
        phenotypes produced by LaDDR to supplement the knowledge-driven RNA
        phenotypes, as well as data for full data-driven RNA phenotypes that can
        be used as an alternative to knowledge-driven RNA phenotypes. The xTWAS
        data covers 114 traits using GWAS data from
        <a href="https://doi.org/10.5281/zenodo.3629742">this collection</a>.
      </p>

      <div class="row gy-3 mt-0 mb-4">
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">📄 Publication</h5>
              <p class="card-text">
                "Multimodal analysis of RNA sequencing data powers discovery of
                complex trait genetics" <i>Nature Communications</i> 2024
              </p>
              <a
                href="https://www.nature.com/articles/s41467-024-54840-8"
                class="btn btn-primary"
              >
                Read the Paper
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">💻 Source Code</h5>
              <p class="card-text">
                Pantry pipeline code for RNA phenotyping and genetic analyses
              </p>
              <a
                href="https://github.com/PejLab/Pantry"
                class="btn btn-primary"
              >
                View on GitHub
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">📊 Dataset</h5>
              <p class="card-text">
                Permanent data repository with DOI on Zenodo. Contains
                compressed archives of the downloadable files in this portal.
              </p>
              <a
                href="https://zenodo.org/records/13922139"
                class="btn btn-primary"
              >
                Access the Data
              </a>
            </div>
          </div>
        </div>
      </div>

      <p class="limited-text">
        <a href="/browse">Browse</a> all xTWAS hits and xQTLs for 49 human
        tissues from GTEx, search for a specific <a href="/traits">trait</a> or
        <a href="/genes">gene</a>, or <a href="/download">download the data</a>,
        including RNA phenotypes, covariates, xQTLs, xTWAS weights, and xTWAS
        hits.
      </p>
    </div>
{% endblock %}
